/* @tailwind base; */
@tailwind components;
@tailwind utilities;

@layer utilities {
  .wpqt-pipeline-height {
    height: calc(100vh - 120px);
  }
}

.wpqt-admin-page #wpfooter {
  display: none;
}
