@import "react-toastify/dist/ReactToastify.css";

/* @tailwind base; */
@tailwind components;
@tailwind utilities;

@layer utilities {
  .wpqt-pipeline-height {
    height: calc(100vh - 120px);
  }
  .wpqt-strip-btn {
    @apply wpqt-border-0 wpqt-border-none wpqt-bg-transparent wpqt-p-0;
  }

  .wpqt-main-border {
    @apply wpqt-rounded-md wpqt-border wpqt-border-solid wpqt-border-qtBorder;
  }
}

/* WordPress style overrides */
.wpqt-admin-page #wpfooter {
  display: none;
}

.wpqt-admin-page #wpbody-content {
  padding-bottom: 0;
}
