@import "react-toastify/dist/ReactToastify.css";

/* @tailwind base; */
@tailwind components;
@tailwind utilities;

@layer utilities {
  .wpqt-pipeline-height {
    height: calc(100vh - 120px);
  }
  .wpqt-strip-btn {
    @apply wpqt-border-0 wpqt-border-none wpqt-bg-transparent wpqt-p-0;
  }

  .wpqt-main-border {
    @apply wpqt-rounded-md wpqt-border wpqt-border-solid wpqt-border-qtBorder;
  }
  .wpqt-icon-red {
    @apply wpqt-text-red-700;
  }
  .wpqt-icon-green {
    @apply wpqt-text-green-700;
  }
  .wpqt-icon-blue {
    @apply wpqt-text-blue-700;
  }
}

/* Start of WordPress style overrides */
.wpqt-admin-page #wpfooter {
  display: none;
}

.wpqt-admin-page #wpbody-content {
  padding-bottom: 0;
}

#adminmenu #toplevel_page_wp-quick-tasks .wp-submenu li.current a,
#adminmenu #toplevel_page_wp-quick-tasks .wp-submenu li.current {
  font-weight: normal;
  color: rgba(240, 246, 252, 0.7);
}
#adminmenu #toplevel_page_wp-quick-tasks .wp-submenu li.wpqt-current a {
  font-weight: 600;
  color: #fff;
}
/* End of WordPress style overrides */
